<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinecus Shop</title>
</head>
<body>
    <% include ../layout %>
    <div class="container mt-4">
        <h3 align="center">Product List</h3>
        <table id="myTable" class="table table-fluid my-3">
            <script>
              $(document).ready(function () {
                      $('#myTable').DataTable();
                  });
            </script>
            <thead class="table-dark">
            <th scope="col">รหัสสินค้า</th>
            <th scope="col">หมวดหมู่สินค้า</th>
              <th scope="col">ชื่อสินค้า</th>
              <th scope="col">รูปภาพสินค้า</th>
              <th scope="col">ราคา</th>
              <th scope="col">ผู้ขาย</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </thead>
            <tbody>
                <% products.forEach(function(product){%>
                    <tr>
                        <th scope="row"><a href="/product/showproduct/<%=product._id%>"><%= product._id %></a></td>
                        <th scope="row"><%= product.category %></td>
                        <th scope="row"><%= product.name %></td>
                        <td><img class="" src="/images/<%= product.image %>" alt="" width="200px" height="200px"></td>
                        <td><%= product.price %></td>
                        <td><%= product.seller %></td>
                        <td><a href="/admin/editproduct/<%=product._id%>" class="btn btn-success">Edit</a></td>
                       <td><button type="button" class="btn btn-danger delete-project" data-id="<%=product._id%>">Delete</button></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $('.delete-project').on('click',function(){
            var delete_id = $(this).data(delete_id)
            var url = "/admin/deleteproduct/"+delete_id.id
            if(confirm("ลบข้อมูลนี้ใช่ไหม?")){
                $.ajax({
                    url:url,
                    type:'GET',
                    success:function(result){
                        location.reload();
                        console.log("success")
                    },
                    error:function(error){
                        console.log(error)
                    }
                })
            }      
        })
    })
</script>


</html>