<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinecus Shop</title>
</head>
<body>
    <%- include ../layout %>
    <div class="container my-4">
        <h3 align="center">สถานะจัดส่งสินค้า</h3>
        <% if(deliverybills.length >0){ %>
            <table id="myTable" class="table table-fluid my-3">
                <script>
                  $(document).ready(function () {
                          $('#myTable').DataTable();
                      });
                </script>
            <thead class="thead-dark">
                <tr>
                  <th scope="col">รหัสสินค้า</th>
                  <th scope="col">ชื่อสินค้า</th>
                  <th scope="col">จำนวน</th>
                  <th scope="col">วันที่สั่งซื้อ</th>
                  <th scope="col">สถานะจัดส่ง</th>
                  <th scope="col">รหัสติดตามสินค้า</th>
                </tr>
              </thead>
              <tbody>
                <% deliverybills.forEach(function(deliverybill){ %>
                    <tr>
                    <td><a href="/product/showproduct/<%=deliverybill.product_id%>"><%= deliverybill.product_id %></a></td>
                    <th scope="row"><%= deliverybill.product_name %></th>
                    <td><%= deliverybill.qty %></td>
                    <td><%= moment(deliverybill.date).format("DD-MM-YYYY") %></td>
                    <% if(!deliverybill.trackingnumber){ %>
                        <td class="text-secondary">รอจัดส่ง</td>
                    <%}else{%>
                        <td class="text-success">จัดส่งแล้ว</td>
                        <%}%>
                    <td><%=deliverybill.trackingnumber %></td>
                    </tr>
            <%})%>
                </tbody>
            </table>
            <%}else{%>
                <div class="alert alert-danger">
                    ไม่มีข้อมูลสั่งซื้อสินค้า
                </div>
            <%}%>
        </div>
</body>
</html>